<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>23-ism-jee</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.google.controller.SignupController</servlet-class>
  	<init-param>
  		<param-name>paymentId</param-name>
  		<param-value>20074283560</param-value>
  	</init-param>	
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUsersController</display-name>
    <servlet-name>ListUsersController</servlet-name>
    <servlet-class>com.google.controller.ListUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsersController</servlet-name>
    <url-pattern>/ListUsersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>com.google.controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserController</display-name>
    <servlet-name>ViewUserController</servlet-name>
    <servlet-class>com.google.controller.ViewUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserController</servlet-name>
    <url-pattern>/ViewUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserController</display-name>
    <servlet-name>EditUserController</servlet-name>
    <servlet-class>com.google.controller.EditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserController</servlet-name>
    <url-pattern>/EditUserController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>RegistrationFilter</filter-name>
    <filter-class>com.google.filter.RegistrationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegistrationFilter</filter-name>
    <url-pattern>/RegistrationController</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RegistrationRegexFilter</filter-name>
    <filter-class>com.google.filter.RegistrationRegexFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegistrationRegexFilter</filter-name>
    <url-pattern>/RegistrationController</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.google.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>5</session-timeout>
  </session-config>
  
  <listener>
  <listener-class>com.google.listener.AwsListener</listener-class>
  </listener>
  
  <context-param>
  	<param-name>paymentId</param-name>
  	<param-value>20078342560</param-value>
  </context-param>
  
</web-app>